SUPABASE_URL=""
SUPABASE_ANON_KEY=""
ITX_EDGE_PROXY_SHARED_SECRET=""
ITX_ITEMTRAXX_KILLSWITCH_MESSAGE=""
SESSION_COOKIE_DOMAIN=""
SESSION_COOKIE_SAMESITE=""
SESSION_REFRESH_COOKIE_MAX_AGE_SECONDS=""
SENTRY_DSN=""
